@page "/"
<PageTitle>İzin Modülü</PageTitle>

<h3>İzin Modülüne Hoşgeldiniz.</h3>

<div class="row mt-5">
    <RequestPermission.SharedComponents.WidgetComponent.Widget />
    <RequestPermission.SharedComponents.WidgetComponent.Widget />
    <RequestPermission.SharedComponents.WidgetComponent.Widget />
</div>
